:root {
    background-color: #000000;
}

.animated_background {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"%3E%3Cpath d="M 25 0 L 25 50 M 0 25 L 50 25" stroke="hsl(0, 100%, 100%)" stroke-width="4px" fill="none"/%3E%3C/svg%3E');
    animation: diagonally_scrolling_grid 2500ms linear infinite;
    opacity: 0.5;
}

.blur {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
